@media (max-width: 600px) {
    button{
        width: 320px;
        height: 100px;
        position: fixed;
    }
    #decideAiComida{
        left: calc(50% - 160px);
        top: calc(50% - 50px);
    }
    #decideAiAssistir{
        left: calc(50% - 160px);
        top: calc(50% + 50px);
    }
}
@media (min-width: 601px) {
    button{
        width: 320px;
        height: 100px;
        position: fixed;
    }
    #decideAiComida{
        left: calc(50% - 320px);
        top: calc(50% - 50px);
    }
    #decideAiAssistir{
        left: calc(50%);
        top: calc(50% - 50px);
    }   
}